<?xml version="1.0"?>
<model>
  <name>fishing_assy2_combined</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>
  
  <author>
    <name>Nathan Ge</name>
    <email>nathange784@gmail.com</email>
  </author>
  
  <description>
    Collision and visual URDF files for fishing bot
  </description>
  
</model>
